@font-face {
font-family: 'TEST';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/test_invalid.ttf') format('truetype');
}

