@font-face {
font-family: 'Test';
font-style: normal;
font-weight: 400;
font-display: swap;
font-feature-settings: "tnum" 1; 
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Test';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Bold.ttf') format('truetype');
    font-feature-settings: "tnum" 1; 
    }

@font-face {
font-family: 'Test';
font-style: Italic;
font-weight: 400;
font-display: swap;
font-feature-settings: "tnum" 1; 
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Test';
    font-style: Italic;
    font-weight: 700;
    font-display: swap;
    font-feature-settings: "tnum" 1; 
    src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-BoldItalic.ttf') format('truetype');
    }
