@font-face {
font-family: 'TEST';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TEST';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Bold.ttf') format('truetype');
    }

@font-face {
font-family: 'TEST';
font-style: Italic;
font-weight: 400;
font-display: swap;
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'TEST';
    font-style: Italic;
    font-weight: 700;
    font-display: swap;
    src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-BoldItalic.ttf') format('truetype');
    }

/* -------------------------------------- */
/* TABULAR NUMBERS FOR TABLES AND WIDGETS */
/* -------------------------------------- */

/* All SAC table cells */
.sap-custom-table-data-cell,
.sap-custom-table-measure-data-cell,
.sap-custom-table-dimension-member-cell {
  font-family: 'TEST' !important;
  font-feature-settings: "tnum" !important;
  -webkit-font-feature-settings: "tnum" !important;
  -moz-font-feature-settings: "tnum" !important;
}

/* Any text widget or measure using the font */
.sapUiBody,
.sapUiBody * {
  font-family: 'TEST' !important;
  font-feature-settings: "tnum" !important;
  -webkit-font-feature-settings: "tnum" !important;
  -moz-font-feature-settings: "tnum" !important;
}

/* Optional: enforce tabular numbers for numeric labels, axis, story elements */
.sapVizAxis, 
.sapVizMeasureLabel, 
.sapVizDimensionLabel {
  font-family: 'TEST' !important;
  font-feature-settings: "tnum" !important;
  -webkit-font-feature-settings: "tnum" !important;
  -moz-font-feature-settings: "tnum" !important;
}
