@font-face {
font-family: 'Traton Type Display';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Traton Type Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Bold.ttf') format('truetype');
    }

@font-face {
font-family: 'Traton Type Display';
font-style: Italic;
font-weight: 400;
font-display: swap;
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Traton Type Display';
    font-style: Italic;
    font-weight: 700;
    font-display: swap;
    src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-BoldItalic.ttf') format('truetype');
    }

/* -------------------------------------- */
/* ENABLE TABULAR NUMBERS FOR ALL TABLES  */
/* -------------------------------------- */

.sap-custom-table-data-cell,
.sap-custom-table-measure-data-cell,
.sap-custom-table-dimension-member-cell {
  font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
}
