
@font-face {
font-family: 'Traton Type Data';
font-style: normal;
font-weight: 400;
font-display: swap;
font-feature-settings: "tnum" 1;
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Traton Type Data';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    font-feature-settings: "tnum" 1;
    src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Bold.ttf') format('truetype');
    }

@font-face {
font-family: 'Traton Type Data';
font-style: Italic;
font-weight: 400;
font-display: swap;
    font-feature-settings: "tnum" 1;
src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Traton Type Data';
    font-style: Italic;
    font-weight: 700;
    font-display: swap;
    font-feature-settings: "tnum" 1;
    src: url('https://contigo-consulting-ag.github.io/Traton/TratonFonts/TRATONTypeDisplay-BoldItalic.ttf') format('truetype');
    }
